.notice {
	margin: 2em 0;
	display: block;
	padding: 0.5rem;
	border-radius: 0.5rem;
	position: relative;

	p {
		margin: 0 0 1em 0;
	}

	p:last-child {
		margin: 0;
	}

	& > span {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 40px;
		font-size: 24px;
		text-align: center;
		display: block;
	}

	& > div {
		margin-left: 35px;
	}

	h2 {
		margin: 0 0 5px 0;
		padding: 0 0 2px 0;
		font-size: 100%;
	}
}

.notice-info {
	background: #ececec !important;
	border: 1px solid #aaa !important;
}

.notice-danger {
	background: #fcc !important;
	border: 1px solid #a66 !important;
}

.notice-warning {
	background: #FED;
	border: 1px solid #fc9;
}

.notice-tip {
	background: #ccf;
	border: 1px solid #66a;
}

.notice-green {
	background: #161;
	border: 1px solid #393;
}
